{%- block zmkr_cloudflare_turnstile_widget -%}
    {% apply spaceless %}
        {% if enabled %}
            <div id="{{ id }}_container">
                {% if not is_markup_already_included('cloudflare_turnstile_script') %}
                    {% set cloudflare_turnstile_script_query_parameters = [] %}

                    {% if explicit_js_loader is not empty %}
                        {% set cloudflare_turnstile_script_query_parameters = cloudflare_turnstile_script_query_parameters|merge({'render': 'explicit', 'onload': explicit_js_loader}) %}
                    {% endif %}

                    {% if recaptcha_compatibility_mode_enabled %}
                        {% set cloudflare_turnstile_script_query_parameters = cloudflare_turnstile_script_query_parameters|merge({'compat': 'recaptcha'}) %}
                    {% endif %}

                    {% set cloudflare_turnstile_script %}
                        <script src="https://challenges.cloudflare.com/turnstile/v0/api.js{{ cloudflare_turnstile_script_query_parameters|length > 0 ? '?' ~ cloudflare_turnstile_script_query_parameters|url_encode : '' }}" defer></script>
                    {% endset %}

                    {{ include_unique_markup_per_key('cloudflare_turnstile_script', cloudflare_turnstile_script) }}
                {% endif %}

                {% if required and not is_markup_already_included('widget_handler_script') %}
                    {% set widget_handler_script %}
                        <script src="{{ asset('bundles/zmkrcloudflareturnstile/js/zmkr_cloudflare_turnstile_widget_handler.v0.3.js' )}}"></script>
                    {% endset %}

                    {{ include_unique_markup_per_key('widget_handler_script', widget_handler_script) }}
                {% endif %}

                {% if required %}
                    <script>window.zmkrCloudflareTurnstileBundleCaptcha.required(document.currentScript, "{{ response_field_name }}");</script>
                {% endif %}

                <div id="{{ id }}" data-sitekey="{{ sitekey }}" {%- for attrname, attrvalue in attr -%}
                    {%- if attrvalue is not same as(false) -%}
                        {{- " " -}}
                    {%- endif -%}

                    {%- if attrvalue is same as(true) -%}
                        {{- attrname }}="{{ attrname }}"
                    {%- elseif attrvalue is not same as(false) -%}
                        {{- attrname }}="{{ attrvalue }}"
                    {%- endif -%}
                {%- endfor -%}></div>
            </div>
        {% endif %}
    {% endapply %}
{%- endblock -%}
